<div class="foot">
  <div class="foot-inner">
    <div class="foot__head">
      {% for line in theme.foot.title %}
        {% if config.language == 'en' %}
          <div class="foot-line">{{ line }}</div>
        {% else %}
          <div class="foot-line">
            {% for word in line %}<div class="matts">{{ word }}</div>{% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="foot__body">
      {% if theme.links %}
        <div class="foot-item">
          <div class="foot-item__head">{{ __("friends.label") }}</div>
          <div class="foot-item__body"> 
            {% set friendsLinks = theme.links %}
            {{ partial("_partials/macros/group-link.njk", {links: friendsLinks, groupSize: theme.foot.linksRows}) }}
          </div>
        </div>
      {% endif %}
      {% if theme.social %}
        <div class="foot-item">
          <div class="foot-item__head">{{ __("socials.label") }}</div>
          <div class="foot-item__body">
            {{ partial("_partials/macros/group-link.njk", {links: theme.social, groupSize: theme.foot.linksRows}) }}
          </div>
        </div>
      {% endif %}
      <div class="foot-item">
        <div class="foot-item__head">{{ __("concats.label") }}</div>
        <div class="foot-item__body">
          {{ partial("_partials/macros/group-link.njk", {links: theme.contacts, groupSize: theme.foot.linksRows}) }}
        </div>
      </div>
    </div>
    <div class="copyright">
      {% if config.language == 'en' %}
        ©️ {{ moment().format('YYYY') }} {{ config.title }}
      {% else %}
        ©️ {{ moment().format('YYYY') }} {{ config.title }}
      {% endif %}
    </div>
  </div>
</div>
